body {
	text-align: center;
}
p {
	border: 1px solid olive;
	text-align: center;
}
div {
	text-align: center;
	border: 1px solid black;
}
div > div:nth-child(1) {
	border: 1px solid red;
	float: left;
	text-align: center;
}
div > div:nth-child(2) {
	border: 1px solid red;
	float: left;
	text-align: center;
	}
div > div:nth-child(3) {
	border: 1px solid red;
	float: right;
	text-align: center;
	}
textarea {
	border: 1px solid blue;
	width: 400px;
	height: 500px;
	}
br {
	clear: left;
}